@mixin dashboard-view {

  .dashboard-view {
    padding: $view-padding;
    overflow: visible;

    .sparks {
      @include valo-panel-style;
      margin-bottom: round($view-padding / 3);
    }

    .spark {
      float: left;
      width: 50%;
      padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal;
      line-height: 1.35;
      align: center;
      border-left: valo-border($strength: 0.3);

      > .v-label {
      	text-align: center;
  	  }
      &:first-child {
        border-left: none;
      }
    }

    .location-pane {
      @include valo-panel-style;
      padding: 0.6em 0.6em 0.6em 1em;
      width: 100%;
      margin-bottom: 1em;

      .location-pane-header {
        width: 100%;

        .v-slot-toolbar {
          float: right;
          margin-top: -0.5em;
          margin-right: -0.5em;
        }
        .toolbar {
        }
      }

      .key-value {
        margin-right: 1em;

        .key {
          margin-right: 0.5em;
          vertical-align: bottom;
          font-variant: small-caps;
        }
        .device-free {
          color: $v-friendly-color;
        }
        .device-occupied {
          color: $v-error-indicator-color;
        }
      }
      .connection-success {
        color: $v-friendly-color;
      }
      .connection-error {
        color: $v-error-indicator-color;
      }

      .device-info {
        margin-top: .5em;
        width: 100%;

        .device-container {
          float: left;
          box-sizing: border-box;
          display: inline-block;
          padding: .2em;
          .device {
            width: 100%;
            padding: .2em .5em;
            border: valo-border($strength: 0.3);
            border-radius: 2px;

            .title {
              font-size: .8em;

              .device-name {
                font-size: 1.2em;
                margin-right: .8em;
              }
            }
            .v-table {
              overflow: visible;
              .v-table-row-running-execution {
                background-color: tint($v-friendly-color, 80%);
              }
              .v-table-row-running-execution.expired-execution, .v-table-row-expired-execution {
                background-color: tint($v-error-indicator-color, 60%);
              }
            }
          }
        }


        &[width-range~="0-999px"] {
          .device-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
        }
        &[width-range~="1000px-"] {
          .device-container {
            width: 50%;
            &:nth-child(2n+1) {
              padding-left: 0;
            }
            &:nth-child(2n+2) {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
} 