// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-app-loading-text: "Waschportal";


// $v-background-color: hsl(0, 0, 99.5%);
// $v-app-background-color: #fff;
// $v-focus-color: hsl(218, 80%, 60%);
// $v-border: 1px solid (v-shade 0.6);
// $v-border-radius: 3px;
// $v-bevel: inset 0 1px 0 v-tint;
// $v-textfield-bevel: false;
// $v-gradient: v-linear 3%;
// $v-shadow: false;
// $valo-menu-background-color: hsl(218, 20%, 98%);
// $v-friendly-color: hsl(163, 61%, 41%);
// $v-error-indicator-color: hsl(349, 66%, 56%);


@import "../valo/valo";
@import "dashboard";	

@mixin waschportal {
  @include valo;
	
// 	.valo-menu .valo-menu-title {
// 	  background: $v-app-background-color;
// 	  color: $v-selection-color;
// 	  text-shadow: none;
// 	  border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
// 	}
	.v-window-modalitycurtain {
	  position: absolute;
	}
	.v-ui[width-range~="0-800px"] .valo-menu-title {
		position: absolute;
	}
	.float-right {
		float: right;
	}
	
	.login-container {
		background-color: #eaeaea;
	}
	.v-panel-content-login-panel {
		overflow: visible;
	}
	.login-panel-content {
		padding: 10px 25px 25px;
	}
	.login-labels {
		display: block;
	}
	.login-panel .h3 {
		margin-bottom: 0;
	}
	.login-panel .v-icon {
		opacity: 0.3;
	}
	
	.icon-user-normal {
		height: 1.3em;
		padding: 0;
		opacity: 0.6;
	}
	.icon-user-blocked {
		height: 1.3em;
		padding: 0;
		color: #a00;
	}
	.icon-user-expired-executions {
		height: 1.3em;
		padding: 0;
		color: #e80;
		cursor: pointer;
	}
	
	.icon-device-normal {
		opacity: 0.6;
	}

	.icon-program-normal {
		opacity: 0.6;
	}

    .icon-group-normal {
        opacity: 0.6;
    }

	.dashboard-credit {
		padding: .2em .5em;
	}
	
	.small-label>label {
		font-size: .8em;
	}
	
	.v-caption-required-hidden {
		display: none;
	}

	.valo-menu .user-menu .v-menubar-menuitem-caption {
		display: block;
		width: 140px;
	}

	/**
	 * Fixes
	 */
	.valo-content > .v-layout {
		padding: 15px 23px 25px;
	}

	.v-verticallayout > .v-slot:first-child h1, .v-verticallayout > .v-slot:first-child .v-label-h1 {
		margin: .4em 0;
	}

	.v-select-twincol {
		white-space: nowrap;
	}

	@include dashboard-view;

	.log-textfield {
		font-family: Consolas;
		font-size: .9em;
	}
}
